@page
@model RPC.Pages_Users.MainModel

@{
    ViewData["Title"] = "Table";
}

<h1>Integrantes de la red de programación competitiva</h1>

<h4>Integrantes</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Birthday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.FirstName">Editar</a> 
                    <a asp-page="./Details" asp-route-id="@item.FirstName">Detalles</a> 
                    <a asp-page="./Delete" asp-route-id="@item.FirstName">Eliminar</a>
                </td>
            </tr>
       }
    </tbody>
</table>

<a input type="submit" class="btn btn-primary" style ="position : absolute; top:16%;right:15%" href="https://localhost:7163/"> Log out </a>